<div class="container-fluid">
  <div class="row mt-3 ">
 <div class="col-md-12">       
<div class="btn-group btn-group-xs">           
<button routerLink="/admin/fee/fee-type" routerLinkActive="active-white" type="button" class="btn btn-ch"><i  class='fa'>&#xf055;</i> fee-type</button>
<button routerLink="/admin/fee/section-fee" routerLinkActive="active-white" type="button" class="btn btn-ch"><i class='fa fa-users'></i> Section Fee</button>
<button routerLink="/admin/fee/student-fee-pay" routerLinkActive="active-white" type="button" class="btn btn-ch"><i class='fa fa-calendar'></i>Pay Fee</button>
</div>   
   
      </div>
  </div>
  </div>
  <router-outlet></router-outlet>