<div class="container-fluid">

    <div class="alert alert-success alert-dismissible fade show" *ngIf="msg">
        <button (click)="closemsg()" type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{msg}}</strong>
    </div>
    <!--==============================  -->
    <div class="col-md-12 text-right mt-3">
        <div class="btn-group btn-group-xs gp-bottom">
              <button (click)="showForm()" type="button" class="btn btn-ch"><i class="fa  fa-plus"></i> add</button>
            <button routerLink="/admin/employee/employee-detail/{{employee_key}}" routerLinkActive="active-white"
                type="button" class="btn btn-ch">Employee Detail</button>
  
            <button routerLink="/admin/employee/employee-experience/{{employee_key}}" routerLinkActive="active-white"
                type="button" class="btn btn-ch">Experience</button>
        </div>
    </div>
    <!-- ================================= -->
    <div class="row mt-3 mb-5" *ngIf="!hideForm">
        <!-- {{employee |json}} -->
        <div class="col-md-12">
            <!-- {{ guprofileForm.value |json}} -->
            <div class="login dark-gray">
                <h1 class="inner"> <span class="left"></span>{{headText}}<span> Experience</span>
                </h1>
                <h5 class="below-heading"><i class="fa  fa-user"></i><span> &nbsp;{{employee?.name}}</span></h5>
                <hr class="hr-white">
  
                <form  [formGroup]="guprofileForm" (ngSubmit)="onSubmit()">
                  <br>
                  <input type="hidden" class="form-control" formControlName="experience_id" name="experience_id" >
                  <!--=====================================-->
                  <div class="row">
                      <label class="col-sm-2">Institution : </label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" formControlName="institution" name="institution">
                      </div>
                      <label class="col-sm-2">Position :</label>
                      <div class="col-sm-4">
                          <input type="text" class="form-control" formControlName="position" name="position">  
                      </div>
                  </div>
  
                  <!--=====================================-->
                  <div class="row">
                      <label class="col-sm-2">From :</label>
                      <div class="col-sm-4">
                          <input type="date" id="from" class="form-control date-own" formControlName="from_year" name="from_year">
                      </div>
                      <label class="col-sm-2">To :</label>
                      <div class="col-sm-4">
                          <input type="date" id="to" class="form-control date-own" formControlName="to_year" name="to_year" (blur)="checkDate()">
                          <span class="text-danger" *ngIf="invalidDateMsg">{{invalidDateMsg}}</span>
                      </div>
                  </div>

                  <!--=====================================-->
                  <div class="col-sm-12">
                      <div class="row">
                              <div class="col-sm-6">
                                      <input type="reset" value="reset" class="delete">
                                  </div>
                                  <div class="col-sm-6">
                                          <input [disabled]="guprofileForm.invalid || invalidDateMsg !='' " id="submit" class=" btn btn-success" value="Submit" type="Submit">
  
                                  </div>
                         
                      </div>
                  </div>
                  <!--=====================================-->
                  </form>
                <hr class="hr-white">
                <br>
            </div>
        </div>
    </div>
      <!-- ================================= -->
      <div class="row mt-3 mb-5">
              <!-- {{employee |json}} -->
              <div class="col-md-12">
  
                  <div class="login dark-gray">
                      <h1 class="inner"> <span class="left"></span>Experi<span>ence</span>
                      </h1>
                      <h5 class="below-heading"><i class="fa  fa-user"></i><span> &nbsp;{{employee?.name}}</span></h5>
                      <hr class="hr-white">
  
                           <!-- {{allexperience | json}} -->
                           <div class="scrolling outer">
                                <div class="inner-table">
                      
                                  <table class="table table-striped table-hover table-condensed">
                                    <thead>
                                      <tr>
                                        <th class="headcol"> SN &nbsp;Position</th>
                                        <th>Institution</th>
                                        <th>From </th>
                                        <th>To</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let experience of allexperience;let i=index">
                      
                                        <td class="headcol">{{i+1}} &nbsp;&nbsp;&nbsp;{{experience.position}}</td>
                                        <td>{{experience.institution}}</td>   
                                        <td>{{experience.from_year}}</td>   
                                        <td>{{experience.to_year}}</td>   
                                         <td>
                                          <div class="btn-group btn-group-xs">
                                            <button (click)="edit(i)" type="button" class="btn btn-ch ">Edit</button>
                                            <button (click)="delete(experience.experience_id)" type="button delete" class="btn btn-ch-red ">delete</button>
                                          </div>
                                        </td>
                      
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <hr class="hr-white">
                      <br>
                  </div>
              </div>
          </div>
  </div>