<div class="container-fluid">
    <div class="row mt-3 ">
        <div class="col-md-12">         
                 
<div class="btn-group btn-group-xs">           
  <button routerLink="/admin/guardian/add-guardian" routerLinkActive="active-white" type="button" class="btn btn-ch"><i  class='fa'>&#xf055;</i> Add Guardian</button>
  <button routerLink="/admin/guardian/all-guardian" routerLinkActive="active-white" type="button" class="btn btn-ch"><i class='fa fa-users'></i> All Guardan</button>
</div>      
        </div>
    </div>
    </div>
    <router-outlet></router-outlet>