<div class='wrap'>
    <div class='ray ray--1'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--2'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--3'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--4'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--5'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--6'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--7'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--8'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--9'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--10'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--11'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--12'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--13'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--14'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--15'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--16'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--17'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--18'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--19'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--20'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--21'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--22'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--23'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--24'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--25'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--26'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--27'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--28'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--29'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--30'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--31'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--32'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--33'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--34'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--35'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--36'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--37'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--38'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--39'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--40'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--41'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--42'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--43'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--44'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--45'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--46'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--47'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--48'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--49'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--50'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--51'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--52'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--53'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--54'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--55'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--56'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--57'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--58'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--59'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--60'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--61'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--62'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--63'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--64'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--65'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--66'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--67'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--68'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--69'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--70'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--71'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--72'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--73'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--74'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--75'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--76'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--77'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--78'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--79'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--80'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--81'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--82'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--83'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--84'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--85'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--86'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--87'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--88'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--89'>
      <div class='ray__line'></div>
    </div>
    <div class='ray ray--90'>
      <div class='ray__line'></div>
    </div>
  </div>
  <div class="alert alert-info alert-dismissible fade show" *ngIf="msg">
      <button type="button" class="close" (click)="msg=''" data-dismiss="alert">&times;</button>
    <strong>{{msg}}</strong> 
  </div>
 
  <div class="login" >
      <form action="#1">      
        <h1><img class="logo" src="assets/images/logo.png"> &nbsp; &nbsp; <span>C &nbsp;M &nbsp;S</span></h1>
        <!-- <label for="username">Username:</label> -->
        <input type="text" id="username"  [(ngModel)]="username" name="username" placeholder="Username" required>
        <!-- <label for="password">Password:</label> -->
        <input type="password" id="password"  [(ngModel)]="password" name="password" placeholder="Password" required>
        <button type="submit" (click)="login()">Login</button>
      </form>
      <div class="morestuff">
        <p><a href="#2">Forgot password?</a></p>
        <!-- <p><a href="#3">Create an account</a></p> -->
      </div>
    </div>