body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(yellowgreen, #33cc00,#2db300, #269900, #208000,#1a6600,#134d00,#0d3300,#061a00,#000000	);
  overflow-x: hidden;
  /* padding-top: 20px; */
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.main-active {
  margin-left: 200px; /* Same as the width of the sidenav */
}
.main {
  font-size: 28px; /* Increased text to enable scrolling */
  /* padding: 0px 10px; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
h2.close {
  color: white;
}
span.right {
  float: right;
}
/* +++++++++++++++++++++++++++++++++++++ */
button.btn.btn-full {
  width: 100%;
  text-align: left;
  color: #f0f0f0;
  background: #131822;
  margin-bottom: 1px;

}
button.btn.btn-full .fa {
  margin-right: 10px;
}
button{font-family: 'Roboto', sans-serif!important; }
i.fa.fa-times-circle {
  margin: 7px 16px;
}
button.btn.btn-full {
  font-size: 13px;
}

button.btn.btn-full.green-bg {
  background: yellowgreen;
  border: 1px solid black;
}
i.fa.fa-bars {
  color: yellowgreen;
}
i.fa.fa-bars {
  position: fixed;
  top: 50%;
}
button.btn.btn-success {
  margin-left: -31px;
  position: fixed;
  top: 50%;
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(-90deg);
  offset-rotate: 90%;
}
.side-btn{z-index: 1000;background-color: #212529;border: 2px solid yellowgreen;}
img.logo-inner {
  width: 100px;
  margin-left: 20%;
}